*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow: hidden;
    background: url('Sherlock.jpg') no-repeat;
}

nav{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);   
}

nav .drop-btn{
    width: 100px;
    background: transparent;
    color: darkgoldenrod;
}

nav .wrapper{
    position: absolute;
    top: 25px;
    display: flex;
    width: 210px;
   justify-content: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 5px;
}

nav .wrapper ul li{
    list-style: none;
    padding: 5px;
}


nav .wrapper ul li a{
    position: relative;
    text-decoration: none;
    color: darkgoldenrod;
    display: flex;
    font-size: 16px;
    padding: 0 30px;
    border-radius: 5px;
}

nav .wrapper ul li:hover a{
    background: rgb(48, 44, 44);

}

