*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: url('Sherlock.jpg') no-repeat;
    background-position: top;
    background-size:cover;
}

header{
    position: fixed;
    top: auto;
    left: auto;
    right:auto;
    padding: 20px 100px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99%;
}

.navigation a{
    font-size: 20px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: darkgoldenrod;
    border-radius: 5px;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .login{
    font-family:'Times New Roman', Times, serif;
    width: 70px;
    height: 30px;
    font-size: 20px;
    background: transparent;
    color: black;
    outline: none;
    border-radius: 5px ;
    margin-left: 30px;
    transition: .5s;
}

.navigation .login:hover{
    background: black;
    color:darkgoldenrod;
    cursor: pointer;
}

.Welcome_Sherlock{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkgoldenrod;
    user-select: none;
}

.wrapper{
    justify-content: center;
    position:relative;
    box-shadow: black;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px rgb(14, 13, 13);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display:flex;
    align-items: center;
    transform: scale(0);
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 2em;
    display: flex;
    color: solid black;
    cursor: pointer;
    align-items: center;
}

.form-box h2{
    font-size: 2em;
    color: darkgoldenrod;
    text-align: center;
}

.input{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black ;
    margin: 30px 0;
}

.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label{
    top: -5px;

}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: .5cm;
    color: rgb(252, 197, 16);
    font-weight: 300;
    padding: 0 35px 0 4px;
}

.input .icon{
    position: absolute;
    right: 4px;
    font-size: .5cm;
    color: goldenrod;
    line-height: 50px;
}

.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 400;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color:#162938;
    margin-right: 3px;
}

.remember-forgot a{
    color:rgb(49, 10, 156);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.button{
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 15px;
    outline:invert;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 550;
}

.loginregiser{
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginregiser p a{
    color: #162938;
    text-decoration: none;
    font-weight: 500;
}

.loginregiser p a:hover{
    text-decoration: underline;
}




/* nav {
    position: fixed;
    top: auto;
    left: auto;
    right:auto;
    padding: 20px 100px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99%;
} */

nav label{
    color: white;
    font-size: 18px;
    display: block;
    cursor: pointer;
    font-weight: 500;
}

.button span{
    float: right;
    line-height: 27px;

}

nav ul{
    position: absolute;
    list-style: none;
    background: rgb(43, 39, 39);
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}

[id^=btn]:checked+ul{
    display: block;
}

nav .menu:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background:rgb(43, 39, 39);
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
}


nav ul li{
    line-height: 30px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

nav ul li label{
    font-size: 18px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

nav ul li a:hover,
nav ul li label:hover{
    color: darkgoldenrod;
}

nav ul ul{
    position: static;
}

nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}

nav ul ul li a{
    color: rgb(247, 242, 242);
    font-size: 16px;
}

nav ul li span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;

}

input{
    display: none;
}